{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

   {% for message in app.flashes('success') %}
            <div class="alert alert-success text-white">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-white">
                {{ message }}
            </div>
        {% endfor %}
        <section class="section-padding gray-bg log-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-info mx-auto p-4 my-3">
                            <h3 class="text-extrabold">Connectez vous</h3>
                           <form  method="post">
                            {% if error %}
                                <div class="alert alert-danger">
                                {% if error.messageKey == 'Invalid credentials.' %}
                                    Les informations d'identification sont invalides.
                                {% endif %}
                                </div>
                            {% endif %}
                            {% if app.user %}
                                <div class="red-text">
                                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %} 
                                <input type="hidden" name="_token" value="">
                                <div class="custom-input-div"> 
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="custom-field-form" autocomplete="email" 
                                        autofocus
                                        required
                                        autofocus
                                        data-parsley-trigger="change"
                                        data-parsley-error-message="Une addresse valide est nécessaire.">
                                    <label for="inputEmail">Votre Email</label>
                                </div>
                                <div class="custom-input-div">
                                <input type="password" name="password" id="inputPassword" class="custom-field-form" autocomplete="current-password" 
                                            required
                                           data-parsley-trigger="change"
                                           data-parsley-error-message="Le mot de passe doit contenir au moins 6 caractères.">
                                     <label for="inputPassword">Votre mot de passe</label>
                                    <i class="fa fa-eye show-password"></i>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    </div>
                                <div class="checkbox">         
                                        <input type="checkbox" name="_remember_me" id="_remember_me">
                                        <label for="_remember_me">Je souhaite rester connecté
                                        </label>
                                </div>
                                <div class="d-flex">
                                    <button type="submit" class="button-update-profile my-3 mx-auto">Se connecter</button>
                                </div>
                            </form>
                            <div class="d-flex align-items-center flex-column">
                                <div class="links-login mb-3">
                                    <a href="{{path('forget_password')}}">Mot de passe oublié ?</a>
                                </div>
                                <div class="links-login">
                                    <a href="{{path('register')}}">Vous n'êtes pas encore inscrit ?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
