{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

   {% for message in app.flashes('success') %}
            <div class="alert alert-success text-white">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-white">
                {{ message }}
            </div>
        {% endfor %}

        <section class="section-padding gray-bg log-section">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="card card-panel p-2 mt-3">
                            <h3 class="text-extrabold">Connectez vous</h3>
                           <form  method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="red-text">
                                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %} 

                                <input type="hidden" name="_token" value="">

                                <div class="input-field"> 
                                
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" 
                                            autofocus
                                           required
                                           autofocus
                                           data-parsley-trigger="change"
                                           data-parsley-error-message="Une addresse valide est nécessaire.">
                                    <label for="inputEmail">Votre Email</label>
                                </div>
                                <div class="input-field">
                               
    
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" 
                                            required
                                           data-parsley-trigger="change"
                                           data-parsley-error-message="Le mot de passe doit contenir au moins 6 caractères.">
                                     <label for="inputPassword">Votre mot de passe</label>
                                    <i class="fa fa-eye show-password"></i>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    </div>
                                <div class="checkbox">         
                                        <input type="checkbox" name="_remember_me" id="_remember_me">
                                        <label for="_remember_me">Je souhaite rester connecté
                                        </label>
                                </div>
                                <button type="submit" class="btn btn-primary my-3">Ce connecter</button>
                            </form>

                                <div class="links">
                                    <a href="{{path('register')}}">Vous n'êtes pas encore inscrit ?</a>
                                </div>
                            
                        </div>
                    </div>

                </div>
            </div>
        </section>
{% endblock %}
