 <section class="py-4">
    <div class="container col-10 d-flex justify-content-center form-info">
        {{form_start(form)}} 
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="custom-input-div d-flex flex-column justify-content-center">
                    <label for="departureInput">Départ</label>
                        <input id="departureInput" list="departureCityGuessData" name="trip[departure]" class="custom-field-form" placeholder="Lieu de départ"/>
                        <datalist id="departureCityGuessData" name="dataDepart">
                        </datalist>
                     <div class="col-xs-12 col-sm-12 col-md-12" id="departure-list">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2"></div>
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="custom-input-div d-flex flex-column justify-content-center">
                    <label for="arrivalInput">Arrivé</label>
                    <input id="arrivalInput" list="arrivalCityGuessData" name="trip[arrival]" class="custom-field-form" placeholder="Lieu d'arrivé"/>
                    <datalist id="arrivalCityGuessData">
                    </datalist>
                    <div class="col-xs-12 col-sm-12 col-md-12" id="arrival-list">
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-between mt-5">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="custom-input-div d-flex flex-column justify-content-center">
                    {{ form_label(form.date_of_trip, 'Date du trajet') }}
                    {{ form_widget(form.date_of_trip,  { 'attr': {'class': 'custom-field-form custom-input-date'} }) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="custom-input-div d-flex flex-column justify-content-center">
                    {{ form_label(form.startTime, 'Heure de départ') }}
                    {{ form_widget(form.startTime,  { 'attr': {'class': 'custom-field-form'} }) }}
                </div>
            </div>
             {# <div class="col-xs-12 col-sm-2 col-md-2"></div> #}
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="custom-input-div d-flex flex-column justify-content-center">
                    {{ form_label(form.passengers, "Passager") }}  
                    {{ form_widget(form.passengers,  { 'attr': {'class': 'custom-field-form', 'placeholder' : 'Nombre de passager'} }) }}
                </div>
            </div>    
        </div>
   
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mb-4 mt-4 d-flex justify-content-center">
                    <button  type='submit' class="col-md-6 button-update-profile">Créé mon trajet</button>
                </div>
            </div>  
        </div> 
        {{form_end(form)}}
    </div>
</section>