{% extends 'base.html.twig' %}

{% block title %}Trip{% endblock %}

{% block body %}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-white">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger text-white">
                {{ message }}
            </div>
        {% endfor %}
       <div class="container mt-5">
          <h4 class="text-center">Détails du voyage</h4>
            <div class="card-custom-detail mt-5">
              <div class="plan-detail">
              <div class="d-flex justify-content-between mb-2">
                <h3>{{trip.dateOfTrip|date("d M")}}</h3>
                {% if trip.tripFull == true and trip.tripStarted == false %}
                    <h3>Complet</h3>
                {% elseif trip.tripStarted == true and trip.tripCompleted == false %}
                    <h3> Le trajet a commencer</h3>
                {% elseif trip.tripStarted == true and trip.tripCompleted == true %}
                    <h3> Trajet terminé </h3>
                {% else %}
                {% endif %}
              </div>
                <div class="timeline-detail">

                    <div class="d-flex justify-content-end"><p>{{trip.duration}}</p></div>
                    <div class="row">
                          <div class="col-3 d-flex align-items-end flex-column justify-content-around p-3">
                              <p><strong>{{trip.startTime|date('H:i')}}</strong></p>
                              <p class="d-flex justify-content-center font-control">{{trip.distance}} </p>
                              {% set hour = trip.duration|replace({'heure':'hour'})%}
                              <p class="pt-3"><strong>{{ trip.startTime|date_modify("+" ~ hour)|date('H:i') }}</strong></p>
                          </div>
                          <div class="col-9">
                              <div class="line-detail">
                                  <div class="line-content">
                                      <div class="content">
                                          <h1>{{trip.departure}}</h1>
                                      </div>
                                      <div class="content">
                                          <h1> {{trip.arrival}}</h1>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  <span class="custom-separator"></span>
                  </div>
                  <div class="row card-detail-profile">
                  <h4 class="text-center">Informations du conducteur </h4>
                    <a href="{{path('user_show', {'id': trip.driver.id})}}">
                    <div class="row">
                      <div class="col">
                        <img class="img-card"src="{{asset('assets/uploads/profilePicture/') ~ trip.driver.profile_picture}}"/>
                      </div>
                        <div class="col d-flex  flex-column justify-content-center">
                          <p class="font-control">{{trip.driver.firstName}}</p>
                          {% if trip.driver.globalRating %}
                              <p class="font-control"><i style="color: gold;" class="fas fa-star"></i>{{trip.driver.globalRating|round(1, 'floor')}}</p>
                          {% else %}
                              <p class="font-control-rating"><i class="fas fa-star"></i> Pas de note</p>
                          {% endif %}
                      </div>
                      <div class="col d-flex justify-content-end align-items-center font-control fas fa-chevron-right"></div>
                    </div>
                    </a>
                      <div class="row d-flex justify-content-center">
                            {% if trip.driver.phone %}
                              <p class="info-detail"><i style="color:green;" class="far fa-check-circle"></i> Numéro de téléphone</p>
                          {% endif %}
                            {% if checkBooking != "my" %}
                                <a href="{{path('message_discussion_details', {'id': trip.driver.id})}}" class="contact-button"><i style="color:#82b6e8;" class="far fa-comments"></i> Contacter {{trip.driver.firstName}}</a>
                            {% endif %}
                      </div>
                      {% if trip.driver.travelPreferences.discussion == null and trip.driver.travelPreferences.music == null and trip.driver.travelPreferences.smoking == null and trip.driver.travelPreferences.animals == null and trip.driver.travelPreferences.healthPass == null %}
                      {% else %}
                        <span class="custom-separator"></span>
                        <div class="row d-flex justify-content-center">
                            {% if trip.driver.travelPreferences.discussion %}
                                <p class="info-detail"><i class="far fa-comments mx-2"></i>  {{trip.driver.travelPreferences.discussion}}</p>
                            {% endif %}
                            {% if trip.driver.travelPreferences.music %}
                                <p class="info-detail"><i class="fas fa-music mx-2"></i>  {{trip.driver.travelPreferences.music}}</p>
                            {% endif %}
                            {% if trip.driver.travelPreferences.smoking %}
                                <p class="info-detail"><i class="fas fa-smoking mx-2"></i>  {{trip.driver.travelPreferences.smoking}}</p>
                            {% endif %}
                            {% if trip.driver.travelPreferences.animals %}
                                <p class="info-detail"><i class="fas fa-paw mx-2"></i>  {{trip.driver.travelPreferences.animals}}</p>
                            {% endif %}
                            {% if trip.driver.travelPreferences.healthPass %}
                                <p class="info-detail"><i class="fas fa-file-medical mx-2"></i>  {{trip.driver.travelPreferences.healthPass}}</p>
                            {% endif %}
                           
                        </div>
                        {% endif %}
                        {% if trip.driver.vehicule.brand == null and trip.driver.vehicule.model == null and trip.driver.vehicule.vehiculePicture == null %}
                        {% else %}
                      <div class="row">
                        <div class="card-detail-vehicule">
                            <div class="col d-flex  flex-column justify-content-center align-items-center">
                                {% if trip.driver.vehicule.brand %}
                                    <p class="font-control">{{trip.driver.vehicule.brand}} - {{trip.driver.vehicule.model}} </p>
                                {% endif %}
                            </div>
                            <div class="col d-flex  justify-content-end align-items-center">
                                {% if trip.driver.vehicule.vehiculePicture %}
                                    <img class="img-card-vehicule"src="{{asset('assets/uploads/vehiculePicture/') ~ trip.driver.vehicule.vehiculePicture}}"/>
                                {% endif %}
                            </div>
                      </div>
                      {% endif %}
                      <div class="col d-flex  justify-content-center">
                    {% if checkBooking != "my" %}
                        {% if checkBooking == null %}
                            {% if trip.tripFull == true %}
                                <p class="contact-button-cancel"><i class="fas fa-users-slash"></i> Trajet Complet !</p>
                            {% else %}
                                <a href="{{ path ('booking_new', {'id': trip.id})}}" type="submit" class="contact-button"><i class="fas fa-user-check"></i> Réserver ce trajet</a>
                            {% endif %}
                        {% else %}
                            {% if trip.tripStarted == true and trip.tripCompleted == false %}
                                <p class="contact-button"><i class="fas fa-car-side"></i> Trajet en cours</p>
                            {% elseif trip.tripStarted == true and trip.tripCompleted == true %}
                                <a class="contact-button"><i class="fas fa-check"></i> Trajet terminé</a>
                            {% else %}
                                <a href="{{ path ('booking_new', {'id': trip.id})}}" type="submit" class="contact-button-cancel"><i class="far fa-times-circle"></i> Annuler ma réservation</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                      </div>
                  </div>
                {% if bookers[0].user is defined %}
                  <span class="custom-separator"></span>
                    <div class="passenger-booker">
                        <h4 class="text-center mt-3 mb-3">Déjà à bord </h4>
                        {% for booker in bookers %}
                        <div class="row card-detail-profile">
                        <a class="d-flex" href="{{path('user_show', {'id':  booker.user.id})}}" >
                                <div class="col d-flex  flex-column justify-content-center">
                                <p class="font-control"> {{ booker.user.firstName}}</p>
                            </div>
                            <div class="col d-flex justify-content-center align-items-center">
                                <img class="img-card-passenger"src="{{asset('assets/uploads/profilePicture/') ~  booker.user.profile_picture}}"/>
                            </div>
                            <div class="col d-flex justify-content-end align-items-center font-control fas fa-chevron-right"></div>
                        </a>
                            </div>
                        
                        {% endfor %}
                    </div>
                {% endif %}
              </div>
          </div>
        </div>
{% endblock %}