{% extends 'base.html.twig' %}

{% block title %}Trip{% endblock %}

{% block body %}
    <input name="idTripFetch" id="idTripFetch" type="hidden" value="{{ trip.id }}">
       <div class="container">
       <h4 class="text-center">Bravo ! </h4>
            <div class="card-custom">
                <div class="d-flex justify-content-center">
                  <img src="../assets/uploads/custom-pic/custom-car.png" alt="music image" />
                </div>
                <div class="text_content">
                  <h2>{{trip.departure}} -> {{trip.arrival}}</h2>
                  <p class=" text-center">
                    Votre trajet a bien été créé ! 
                  </p>
                </div>
          
                <div class="plan">
                  <div id="card-travel"></div>
                </div>
                <a class="PTP" href="{{path ('user_edit', {'id': app.user.id})}}"> Retourner sur mon profil</a>
                {{ include('trip/_delete_form.html.twig') }}
             </div>
        </div>
{% endblock %}