{% extends 'base.html.twig' %}

{% block title %}Trajet trouvé{% endblock %}

{% block body %}
<h1 class="text-center m-5"> Trajet trouvé</h1>

{% if tripFound is defined %}

    {% for trip in tripFound %}
        {% if trip.tripFull %}
            <div class="card-custom-found disabled">
            <a class="global-card-found " href="">
        {% elseif trip.tripStarted == true and trip.tripCompleted == false %}
            <div class="card-custom-found disabled">
            <a class="global-card-found " href="">
        {% elseif trip.tripStarted == true and trip.tripCompleted == true %}
            <div class="card-custom-found disabled">
            <a class="global-card-found " href="">
        {% else %}
             <div class="card-custom-found">
            <a class="global-card-found" href="{{path('trip_details', {'id': trip.id})}}">
        {% endif %}
            <div class="plan-found">
                <div class="timeline">
                      {% if trip.tripFull == true and trip.tripStarted == false %}
                        <div class="d-flex justify-content-end"><h4>Complet</h4></div>
                        {% elseif trip.tripStarted == true and trip.tripCompleted == false %}
                        <div class="d-flex justify-content-end"><h4>Trajet en cours</h4></div>
                        {% elseif trip.tripStarted == true and trip.tripCompleted == true %}
                        <div class="d-flex justify-content-end"><h4>Terminé</h4></div>
                        {% else %}
                    {% endif %}
                    <div class="d-flex justify-content-end"><p>{{trip.tripFull ? "Complet" : trip.duration}}</p></div>
                    <div class="row">
                        <div class="col-3 d-flex align-items-end flex-column justify-content-around p-3">
                            <p><strong>{{trip.startTime|date('H:i')}}</strong></p>
                            <p class="d-flex justify-content-center font-control">{{trip.distance}} </p>
                            {% set hour = trip.duration|replace({'heure':'hour'})%}
                            <p class="pt-3"><strong>{{ trip.startTime|date_modify("+" ~ hour)|date('H:i') }}</strong></p>
                        </div>
                        <div class="col-9">
                            <div class="line">
                                <div class="line-content">
                                    <div class="content">
                                        <h1>{{trip.departure}}</h1>
                                    </div>
                                    <div class="content">
                                        <h1> {{trip.arrival}}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <span class="custom-separator"></span>
                <div class="row card-found-profile">
                    <div class="col">
                       <img class="img-card"src="{{asset('assets/uploads/profilePicture/') ~ trip.driver.profile_picture}}"/>
                    </div>
                      <div class="col d-flex  flex-column justify-content-center">
                        <p class="font-control">{{trip.driver.firstName}}</p>
                        {% if trip.driver.globalRating %}
                            <p class="font-control"><i class="fas fa-star"></i>{{trip.driver.globalRating|round(1, 'floor')}}</p>
                        {% else %}
                            <p class="font-control-rating"><i class="fas fa-star"></i> Aucun avis utilisateur</p>
                        {% endif %}
                    </div>
                    <div class="col d-flex justify-content-start align-items-center font-control fas fa-chevron-right"></div>
                    <div class="col d-flex align-items-center flex-column justify-content-center "><strong>{{trip.passengers}}</strong><i class="fas fa-user-friends"></i></div>
                </div>
            </div>
        </a>
        </div>

    {% endfor %}









{% else %}
        <div class="container">
           <h2 class="mt-5 text-center red-text"> Désolé ! Aucun voyage n'a été trouver </h2>
        </div>
{% endif %}

{% endblock %}