{% extends 'base.html.twig' %}

{% block title %}Mes avis{% endblock %}

{% block body %}

<div class="container mt-5">
{{dump(reviewReceived)}}
{{dump(reviewLeaved)}}

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#tabs-received" role="tab">Avis reçu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tabs-send" role="tab">Avis laisser</a>
        </li>
    </ul>
     <div class="tab-content">
        <div class="tab-pane active" id="tabs-received" role="tabpanel">
                <div class="container profile-section">
                        <h3>Avis Reçu</h3>
                        {% for reviewReceive in reviewReceived %}
                            <div class="card-review">
                                <div class="reviews-list">
                                    <div class="review-card">
                                        <div class="review-header">
                                            <div class="name-group">
                                                <div class="initials"><img  class="img-review" src="{{asset ('/assets/uploads/profilePicture/') ~ reviewReceive.author.profile_picture }}"></div>
                                                <p>{{reviewReceive.author.firstName}}</p>
                                            </div>
                                            <div class="rating">
                                            {% set items = reviewReceive.rating %}
                                            {% for item in 1..items %}
                                                <i id='one' class="fas fa-star"></i>
                                            {% endfor %}
                                            </div>
                                        </div>
                                        <div class="review-description">
                                        {{ reviewReceive.content }}
                                        </div>
                                        <div class="review-details">
                                            <div class="review-date">{{reviewReceive.createdAt|date("d M, Y H:i")}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane" id="tabs-send" role="tabpanel">
                <div class="container profile-section">
                <h3>Avis Laisser</h3>
                    {% for reviewLeave in reviewLeaved %}
                          <div class="card-review">
                            <div class="reviews-list">
                                <div class="review-card">
                                    <div class="review-header">
                                        <div class="name-group">
                                            <div class="initials"><img  class="img-review" src="{{asset ('/assets/uploads/profilePicture/') ~ reviewLeave.author.profile_picture }}"></div>
                                            <p>{{reviewLeave.author.firstName}}</p>
                                        </div>
                                        <div class="rating">
                                        {% set items = reviewLeave.rating %}
                                        {% for item in 1..items %}
                                            <i id='one' class="fas fa-star"></i>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <div class="review-description">
                                    {{ reviewLeave.content }}
                                    </div>
                                    <div class="review-details">
                                        <div class="review-date">{{reviewLeave.createdAt|date("d M, Y H:i")}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>

</div>
{% endblock %}
