 {% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <a href="{{path('message_discussion', {'id' : app.user.id})}}" class="button-comeback"><i class="fas fa-arrow-left"></i></a>
<div class="container">

 
    <div class="container">
    <h2 class="text-center my-4">Discussion avec {{contact.firstName}}</h2>
        <div class="box-message" id="box-message">
            {# {{ include('message/async-discussion.html.twig') }} #}
        </div>
    </div>
    <hr>
            <div class="container">
                {{ include('message/_form.html.twig') }}
        </div>
</div>


{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/js/displayMessage.js')}}"></script>
{% endblock %}
