  <section class="section-padding">
            <div class="row justify-content-center ">
                    <div class="col-10 d-flex justify-content-center form-info">
                    {{ form_start(form) }}
                        <div class="clearfix visible-sm"></div>
                        <div class="row justify-content-between">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                <div class="d-flex custom-input-div">
                                    <i class="fas fa-user d-flex align-items-center"></i>
                                    {{ form_widget(form.first_name, {'attr': {'class': 'custom-field-form', 'placeholder': 'Prénom'}}) }}
                                </div> 
                                <div class='red-text'>{{ form_errors(form.first_name)}}</div>
                                <div class="d-flex custom-input-div">
                                    <span class="d-flex align-items-center ml-4"></span>
                                    {{ form_widget(form.last_name, {'attr': {'class': 'custom-field-form', 'placeholder': 'Nom'}}) }}
                                </div>
                                <div class='red-text'>{{ form_errors(form.last_name)}}</div>
                                <div class="d-flex custom-input-div">
                                    <i class="fas fa-birthday-cake d-flex align-items-center"></i>
                                    {{ form_widget(form.date_of_birth, {'attr': {'class': 'custom-field-form', 'placeholder': 'Prénom'}}) }}
                                </div> 
                                <div class='red-text'>{{ form_errors(form.date_of_birth)}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class='red-text'>{{ form_errors(form.profile_picture)}}</div>
                                <div class="">
                                 {% if user.profile_picture != '' %}
                                    <div class="existing-file d-flex justify-content-center">
                                       <img class="profile-picture-profile" src="{{asset ('/assets/uploads/profilePicture/') ~ user.profile_picture }}"/>
                                    </div>
                                    {% else %}
                                        <div class="existing-file d-flex justify-content-center">
                                        <img class="profile-picture-profile" src="{{asset ('/assets/uploads/profilePicture/default_profile_picture.jpg')}}"/>
                                    </div>
                                {% endif %}
                                    <div class="custom-file fileUpload" id='btnHeigt'>
                                        {{ form_widget(form.profile_picture, { 'attr': {
                                            'accept' : '.pdf,.jpg,.doc,.docx,.png,.gif',
                                            'size' : '20000000', 
                                            'type' : 'file',
                                            'class': 'custom-field-form upload'
                                            }}) }}
                                               <span>Ajouter une photo</span>
                                    </div>
                                    {% if user.profile_picture != '' %}
                                        <div class="existing-file">
                                            <a href="{{asset ('/assets/uploads/profilePicture/') ~ user.profile_picture }}" target="_blank"></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-xs-12 col-sm-6">
                                <div class="d-flex custom-input-div">
                                <i class="fas fa-phone d-flex align-items-center"></i>   
                                {{ form_widget(form.phone, {'attr': {'class': 'custom-field-form', 'placeholder': 'Exemple : 06XXXXXXXX'}}) }}
                                </div> 
                                <div class='red-text'>{{ form_errors(form.phone)}}</div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div class="d-flex custom-input-div">
                                <i class="fas fa-at d-flex align-items-center"></i>
                                    {{ form_widget(form.email, {'attr': {'class': 'custom-field-form', 'placeholder': 'Email'}}) }}
                                </div> 
                                <div class='red-text'>{{ form_errors(form.email)}}</div>
                            </div>
                        </div>
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="custom-input-div mt-2">
                            <i class="fas fa-info"></i>
                                {{ form_label(form.bio, 'Ajouter une biographie!') }}
                                {{ form_widget(form.bio, { 'attr': {
                                        'cols' : "20",
                                        'rows' : "5",
                                        'placeholder': ' Apprennez en plus sur vous aux autres utilisateurs',
                                        'class':'custom-field-form'
                                }}) }}
                            </div>
                            <div class='red-text'>{{ form_errors(form.bio)}}</div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 mb-4 d-flex justify-content-center">
                            <button  type='submit' class="col-md-6 button-update-profile">Mettre à jour</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                </div>
    </section>