 <section>
        <div class="row">
            {{form_start(formReset)}}
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="custom-input-div">
                    <span>{{ form_label(formReset.password, 'Mot de passe actuel') }}</span>
                    {{ form_widget(formReset.password, {'attr': {'class': 'custom-field-form'}}) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="custom-input-div">
                    {{ form_label(formReset.newPassword.first) }}
                    {{ form_widget(formReset.newPassword.first, {'attr': {'class': 'custom-field-form'}}) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="custom-input-div">
                    {{ form_label(formReset.newPassword.second) }}  
                    {{ form_widget(formReset.newPassword.second, {'attr': {'class': 'custom-field-form'}}) }}
                </div>
            </div>    

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mb-4 mt-4 d-flex justify-content-start">
                    <button  type='submit' class="col-md-6 button-update-profile">Mettre à jour</button>
                </div>
            </div>  
            {{form_end(formReset)}}
        </div>
</section>