{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}

{% block body %}
        <div class="container">
    <div class="container-profile">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-white">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-error text-white">
                {{ message }}
            </div>
        {% endfor %}
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link  tab-custom active" data-toggle="tab" href="#tabs-1" role="tab">A Propos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-custom " data-toggle="tab" href="#tabs-2" role="tab">Information Personnel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-custom " data-toggle="tab" href="#tabs-3" role="tab">Préférences de Voyage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-custom " data-toggle="tab" href="#tabs-4" role="tab">Véhicule Personnel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-custom " data-toggle="tab" href="#tabs-5" role="tab">Mes trajets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tab-custom " data-toggle="tab" href="#tabs-6" role="tab">Mon compte</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                <div class="container">
                    <div class="main-info-profile">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 d-flex flex-column align-items-center justify-content-center">
                                <p class="">{{ user.firstName }}</p>
                                <p class="experience-profile">{{ user.userExperience.experienceLevel }}</p>
                                <p class="experience-profile d-flex flex-column align-items-center justify-content-center">
                                    Trajets effectué</p>
                                <p class="experience-profile d-flex flex-column align-items-center justify-content-center">
                                    <strong>{{ user.tripsMade }}</strong>
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4"></div>
                            <div class="col-xs-12 col-sm-4 col-md-4">
                                {% if user.profile_picture != '' %}
                                    <div class="existing-file">
                                        <a href="{{ asset ('/assets/uploads/profilePicture/') ~ user.profile_picture }}" target="_blank"><img class="profile-picture-profile" src="{{ asset ('/assets/uploads/profilePicture/') ~ user.profile_picture }}"/></a>
                                    </div>
                                {% else %}
                                    <div class="existing-file">
                                        <a href="{{ asset ('/assets/uploads/profilePicture/default_profile_picture.jpg') }}" target="_blank"><img class="profile-picture-profile" src="{{ asset ('/assets/uploads/profilePicture/default_profile_picture.jpg') }}"/></a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="main-info-profile">
                        <div class="d-flex justify-content-center">
                            <span class="profile-separator"></div>
                        </div>

                        <label class="accordion-wrapper">
                            <input type="checkbox" class="accordion" hidden/>
                            <div class="title">
                                <strong>Mes préférences de voyage</strong>
                                <svg viewBox="0 0 256 512" width="12" title="angle-right" class="side-icon" fill="white">
                                    <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
                                </svg>
                                <svg viewBox="0 0 320 512" height="24" title="angle-down" class="down-icon" fill="white">
                                    <path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/>
                                </svg>
                            </div>
                            <div class="content">
                                <div class="preference-profile-container col-xs-12 col-sm-10 col-md-9">
                                    <h6>
                                        Discussion :
                                    </h6>
                                    <p class="form-control">{{ user.travelPreferences.discussion }}</p>
                                    <h6>
                                        Fumeur :
                                    </h6>
                                    <p class="form-control">{{ user.travelPreferences.smoking }}</p>
                                    <h6>
                                        Musique :
                                    </h6>
                                    <p class="form-control">{{ user.travelPreferences.music }}</p>
                                    <h6>
                                        Animaux :
                                    </h6>
                                    <p class="form-control">{{ user.travelPreferences.animals }}</p>
                                    <h6>
                                        Pass Sanitaire :
                                    </h6>
                                    <p class="form-control">{{ user.travelPreferences.healthPass }}</p>
                                </div>
                            </div>
                        </label>
                        <label class="accordion-wrapper">
                            <input type="checkbox" class="accordion" hidden/>
                            <div class="title">
                                <strong>Mon véhicule</strong>
                                <svg viewBox="0 0 256 512" width="12" title="angle-right" class="side-icon" fill="white">
                                    <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
                                </svg>
                                <svg viewBox="0 0 320 512" height="24" title="angle-down" class="down-icon" fill="white">
                                    <path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/>
                                </svg>
                            </div>
                            <div class="content">
                                <div class="row mt-3 preference-profile-container">
                                    <div class="col-xs-12 col-sm-6 col-md-6 d-flex flex-column pl-5 justify-content-center">
                                        <p class="vehicule-profile">Marque :
                                            {{ user.vehicule.brand }}</p>
                                        <p class="vehicule-profile">Modèle :
                                            {{ user.vehicule.model }}</p>
                                        <p class="vehicule-profile">Couleur :
                                            {{ user.vehicule.color }}</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <a class="d-flex justify-content-center" href="{{ asset ('/assets/uploads/vehiculePicture/') ~ user.vehicule.vehiculePicture }}" target="_blank"><img class="profile-picture-profile" src="{{ asset ('/assets/uploads/vehiculePicture/' ~ user.vehicule.vehiculePicture ) }}"/></a>
                                    </div>
                                </div>
                            </div>
                        </label>


                    </div>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                    <div class="container profile-section">
                        <div>
                            {{ include('user/_form.html.twig') }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                    <div class="container profile-section">
                        {{ include('travel_preferences/_form.html.twig') }}
                    </div>
                </div>
                <div class="tab-pane" id="tabs-4" role="tabpanel">
                    <div class="container profile-section">
                        {{ include('vehicule/_form.html.twig') }}
                    </div>
                </div>
                <div class="tab-pane" id="tabs-5" role="tabpanel">
                    <div class="container profile-section">
                        <h3 class="col d-flex justify-content-center">Mes trajets</h3>
                        <div class="row">
                            <div class="col d-flex justify-content-center">Trajet</div>
                            <div class="col d-flex justify-content-around">Date</div>
                            <div class="col d-flex justify-content-center">Status</div>
                            <div class="col d-flex justify-content-center">Détails</div>
                        </div>

                        {% for trip in trips %}
                            <div class="row mt-4 line-trip-profile">
                                <div class="col d-flex justify-content-center">{{ trip.departure }}
                                    ->
                                    {{ trip.arrival }}</div>
                                <div class="col d-flex justify-content-center">{{ trip.dateOfTrip|date("d M") }}</div>
                                {% if trip.tripStarted != true and trip.tripCompleted != true %}
                                    <div class="col d-flex flex-column align-items-center">
                                        <a href="{{ path ('trip_start', {'id': trip.id}) }}" onclick="return prompt('Voulez vous commencer le trajet ? Taper \'Oui\' pour commencer') == 'Oui'" href="" class="btn btn-primary">Commencer</a>
                                    </div>
                                {% elseif trip.tripCompleted == true %}
                                    <div class="col d-flex flex-column align-items-center">
                                        <a class="btn btn-success">Trajet terminé</a>
                                    </div>
                                {% else %}
                                    <div class="col d-flex flex-column align-items-center">
                                        <div class="row d-flex ">Trajet en cours</div>
                                        <a href="{{ path ('trip_finish', {'id': trip.id}) }}" class="btn btn-info">Terminer le trajet</a>
                                    </div>
                                {% endif %}
                                <div class="col d-flex  justify-content-center align-items-center">
                                    <a href="{{ path ('trip_details', {'id': trip.id}) }}" class="btn btn-rich-black">
                                        <i class="far fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="tab-pane" id="tabs-6" role="tabpanel">
                    <div class="container profile-section">
                        <h3>Mon compte</h3>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-4">
                            {{ include('user/_form-reset.html.twig') }}
                            <a href="{{ path ('logout') }}" class="btn btn-danger mb-4">
                                <i class="fas fa-sign-out-alt"></i>
                                Me déconnecter</a>
                            {{ include('user/_delete_form.html.twig') }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>

    {% endblock %}
