{% set checkAllPreferences = (user.travelPreferences.discussion != null) and (user.travelPreferences.smoking != null) and (user.travelPreferences.music != null) and (user.travelPreferences.animals != null) and (user.travelPreferences.healthPass != null) %}
{% set checkAllVehiculeInfos = (user.vehicule.brand != null) and (user.vehicule.color != null) and (user.vehicule.model != null) %}

{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}
{% block body %}
<div class="container-profile">
    <div class="row d-flex justify-content-center">
        <div class="row mt-4 welcome-profile align-items-center">
            <div id="robot-profile-div" class="col-3 d-flex justify-content-center">
                <img class="robot-mascott-img" src="{{asset('assets/uploads/custom-pic/hello-mascot.png')}}">
            </div>
            <div class="col-sm-9 col-xs-12 d-flex flex-column justify-content-center">
            <h2 class="mx-auto text-center">Bienvenue {{user.firstName}} !</h2>
            <p>
                Depuis votre espace membre, vous pouvrez remplir des informations vous concernant et utile à la communauté. Vous retrouverez ici l'historique de vos trajets ainsi que vos informations personnelles.
            </p>
            <p>Pour commencer où mettre à jour l'avancée d'un trajet, rendez-vous dans l'onglet "<span class="bold-yellow">Mes trajets</span>"</p>
            <p> Les informations du résumé seront visible par les autres utilisateurs, n'oublier pas de les remplirs depuis les onglets
                "<span class="bold-yellow">Mes préférences de voyage</span>", 
                "<span class="bold-yellow">Mon véhicule</span>" et 
                "<span class="bold-yellow">Informations personnelles</span>" !
            </p>
            <p class="text-center"><span class="bold-yellow">Bonne route !</span></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 d-flex justify-content-center">
            <ul class="nav nav-tabs d-flex flex-column" role="tablist">
                <li class="nav-item-test">
                    <a class="nav-link-test  tab-custom-test active" data-toggle="tab" href="#tabs-1" role="tab">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="far fa-id-badge d-flex align-items-center"></i> 
                                <p>Résumé</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item-test">
                    <a class="tab-custom-test " data-toggle="tab" href="#tabs-2" role="tab">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <i class="fas fa-info d-flex align-items-center"></i> 
                            <p>Informations personnelles</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item-test">
                    <a class="tab-custom-test" data-toggle="tab" href="#tabs-3" role="tab">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <i class="fas fa-suitcase-rolling d-flex align-items-center"></i> 
                            <p>Préférences de Voyage</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item-test">
                    <a class="tab-custom-test" data-toggle="tab" href="#tabs-4" role="tab">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <i class="fas fa-car d-flex align-items-center"></i> 
                            <p>Mon Véhicule</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item-test">
                    <a class="tab-custom-test" data-toggle="tab" href="#tabs-5" role="tab">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="fas fa-route d-flex align-items-center"></i> 
                                <p>Mes trajets</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item-test">
                    <a class="tab-custom-test" data-toggle="tab" href="#tabs-6" role="tab">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <i class="fas fa-user-circle d-flex align-items-center"></i> 
                            <p>Mon compte</p>
                        </div>
                    </a>
                </li>
                <li class="nav-item-test mt-3">
                   <a href="{{ path ('logout') }}" class="tab-custom-test">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Déconnexion</p>
                        </div>
                   </a>
                </li>
                 <li class="nav-item-test mt-3">
                   <a href="{{ path ('logout') }}" class="tab-custom-test">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                         {{ include('user/_delete_form.html.twig') }}
                        </div>
                   </a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            {# {% for message in app.flashes('success') %}
                <div class="alert alert-success text-white">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-error text-white">
                    {{ message }}
                </div>
            {% endfor %} #}
            <div class="tab-content">
                <div class="tab-pane active section-padding" id="tabs-1" role="tabpanel">
                    <div class="mx-auto form-info">
                        <div class="main-info-profile">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4 d-flex flex-column align-items-center justify-content-center">
                                    <p class="">{{ user.firstName }}</p>
                                    <p class="experience-profile">{{ user.userExperience.experienceLevel }}</p>
                                    <p class="experience-profile d-flex flex-column align-items-center justify-content-center">
                                        Trajets effectué</p>
                                    <p class="experience-profile d-flex flex-column align-items-center justify-content-center">
                                        <strong>{{ user.tripsMade }}</strong>
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4"></div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    {% if user.profile_picture != '' %}
                                        <div class="existing-file">
                                            <a href="{{ asset ('/assets/uploads/profilePicture/') ~ user.profile_picture }}" target="_blank"><img class="profile-picture-profile" src="{{ asset ('/assets/uploads/profilePicture/') ~ user.profile_picture }}"/></a>
                                        </div>
                                    {% else %}
                                        <div class="existing-file">
                                            <a href="{{ asset ('/assets/uploads/profilePicture/default_profile_picture.jpg') }}" target="_blank"><img class="profile-picture-profile" src="{{ asset ('/assets/uploads/profilePicture/default_profile_picture.jpg') }}"/></a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="input-profile-apropos">
                                    {% if user.bio != '' %}
                                        <p class="text-center">{{user.bio}}</p>
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <p class="text-center mt-4 ml-5"><i style="color: gold;"class="fas fa-star"></i>{{user.globalRating ?  user.globalRating|round(1, 'floor') : 'Aucune note pour l\'instant'}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="main-info-profile">
                            <div class="d-flex justify-content-center">
                                <span class="profile-separator"></div>
                            </div>

                            <label class="accordion-wrapper">
                                <input type="checkbox" class="accordion" hidden/>
                                <div class="title">
                                    <strong>Mes préférences de voyage</strong>
                                    <svg viewBox="0 0 256 512" width="12" title="angle-right" class="side-icon" fill="white">
                                        <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
                                    </svg>
                                    <svg viewBox="0 0 320 512" height="24" title="angle-down" class="down-icon" fill="white">
                                        <path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/>
                                    </svg>
                                </div>
                                <div class="content py-2">
                                    {% if checkAllPreferences == false %}
                                     <p>Veuillez renseigner vos préférences de covoitureur dans l'onglet <span class="bold-yellow">"Préférences de voyage"</span> pour les consulters et les rendre visibles.</p>
                                    {% else %}
                                        <div class="form-info mx-auto col-xs-12 col-sm-10 col-md-9">
                                            {% if user.travelPreferences.discussion != null %}
                                                <h6>
                                                    Discussion :
                                                </h6>
                                                <p class="custom-field-form">{{ user.travelPreferences.discussion }}</p>
                                            {% endif %}
                                            {% if user.travelPreferences.smoking != null %}
                                                <h6>
                                                    Fumeur :
                                                </h6>
                                                <p class="custom-field-form">{{ user.travelPreferences.smoking }}</p>
                                            {% endif %}
                                                {% if user.travelPreferences.music != null %}
                                                <h6>
                                                    Musique :
                                                </h6>
                                                <p class="custom-field-form">{{ user.travelPreferences.music }}</p>
                                            {% endif %}
                                            {% if user.travelPreferences.animals != null %}
                                                <h6>
                                                    Animaux :
                                                </h6>
                                                <p class="custom-field-form">{{ user.travelPreferences.animals }}</p>
                                                {% endif %}
                                            {% if user.travelPreferences.healthPass != null %}
                                                <h6>
                                                    Pass Sanitaire :
                                                </h6>
                                                <p class="custom-field-form">{{ user.travelPreferences.healthPass }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </label>
                            <label class="accordion-wrapper">
                                <input type="checkbox" class="accordion" hidden/>
                                <div class="title">
                                    <strong>Mon véhicule</strong>
                                    <svg viewBox="0 0 256 512" width="12" title="angle-right" class="side-icon" fill="white">
                                        <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
                                    </svg>
                                    <svg viewBox="0 0 320 512" height="24" title="angle-down" class="down-icon" fill="white">
                                        <path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/>
                                    </svg>
                                </div>
                                <div class="content py-2">
                                    {% if checkAllVehiculeInfos == false %}
                                        <p class="p-4">Veuillez renseigner les informations de votre véhicule dans l'onglet <span class="bold-yellow">"Mon véhicule"</span> pour les consulter et les rendre visibles.</p>
                                    {% else %}
                                    <div class="row mx-auto form-info">
                                        <div class="col-xs-12 col-sm-6 col-md-6 d-flex flex-column pl-5 justify-content-center">
                                            {% if user.vehicule.brand != null %}
                                                <p class="vehicule-profile">Marque :
                                                    {{ user.vehicule.brand }}</p>
                                            {% endif %}
                                            {% if user.vehicule.model != null %}
                                                <p class="vehicule-profile">Modèle :
                                                {{ user.vehicule.model }}</p>
                                            {% endif %}
                                            {% if user.vehicule.color != null %}
                                                <p class="vehicule-profile">Couleur :
                                                    {{ user.vehicule.color }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 d-flex justify-content-center">
                                           <img class="profile-picture-profile" src="{{ asset ('/assets/uploads/vehiculePicture/' ~ user.vehicule.vehiculePicture ) }}"/>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </label>
                            <div class="row justify-content-around mt-4">
                                <div class="col-6">
                                    <div class="card-profile"> 
                                        <a href="{{ path ('message_discussion', {'id': user.id})}}">
                                            <div class="card-profile-content justify-content-center">
                                                <i class="far fa-envelope"></i>
                                                <p>Boite de récéption</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card-profile">
                                        <a href="{{ path ('review_show', {'id': app.user.id})}}">
                                            <div class="card-profile-content justify-content-center">
                                                <i class="far fa-star"></i>
                                                <p>Vos avis</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                        <div>
                            {{ include('user/_form.html.twig') }}
                        </div>
                    </div>
                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                        {{ include('travel_preferences/_form.html.twig') }}
                    </div>
                    <div class="tab-pane" id="tabs-4" role="tabpanel">
                        {{ include('vehicule/_form.html.twig') }}
                    </div>
                    <div class="tab-pane" id="tabs-5" role="tabpanel">
                        <div class="profile-section section-padding">
                            <div class="row justify-content-center ">
                                <div class=" form-info">
                                    <h3 class="col d-flex justify-content-center">Historique de mes trajets</h3>
                                    <div class="row justify-content-around">
                                    <p class="text-center">Vos 3 derniers trajets en tant que covoitureur</p>
                                        {% if trips|length == 0 %}
                                            <p class="text-center py-2"><i style="color:chocolate;"class="px-2 fas fa-hourglass-end"></i>Aucun trajets publié pour l'instant</p>
                                        {% endif %} 
                                        {% for trip in trips %}
                                            {% if loop.index0 < 3 %}
                                                <div class="col-12 col-sm-4 my-2">
                                                    <div class="card-profile-last-trip"> 
                                                        <div class="card-profile-content">
                                                            <div class="col trip-profile-card">
                                                                <div class="col d-flex justify-content-around">
                                                                <p>{{ trip.departure }} -> {{ trip.arrival }}</p><p>{{trip.tripFull ? "Complet" : trip.passengers }}<i class='fas fa-user-friends ml-2'></i></p>
                                                                </div>
                                                                <div class="col d-flex justify-content-center my-2"><p>{{ trip.dateOfTrip|date("d M") }}</p></div>
                                                                <div class="col d-flex  justify-content-center align-items-center my-2">
                                                                    <a href="{{ path ('trip_details', {'id': trip.id}) }}" class="btn">
                                                                        <i class="far fa-eye"></i>
                                                                        <p class="text-custom-yellow ">Voir détails</p>
                                                                    </a>
                                                                </div>
                                                                {% if trip.tripStarted != true and trip.tripCompleted != true %}
                                                                    <div class="col d-flex flex-column align-items-center">
                                                                        <a href="{{ path ('trip_start', {'id': trip.id}) }}" onclick="return prompt('Voulez vous commencer le trajet ? Taper \'Oui\' pour commencer') == 'Oui'" href="" class="trip-start-button">Commencer</a>
                                                                        {{ include('trip/_delete_form.html.twig') }}        
                                                                     </div>
                                                                {% elseif trip.tripCompleted == true %}
                                                                    <div class="col d-flex flex-column align-items-center">
                                                                        <a class="trip-finish-button">Trajet terminé</a>
                                                                    </div>
                                                                {% else %}
                                                                    <div class="col d-flex flex-column align-items-center">
                                                                        <div class="row d-flex font-weight-bold text-custom-yellow">Trajet en cours</div>
                                                                        <a href="{{ path ('trip_finish', {'id': trip.id}) }}" class="trip-started-button">Terminer le trajet</a>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                </div>
                                <label class="accordion-wrapper">
                                    <input type="checkbox" class="accordion" hidden/>
                                    <div class="title">
                                        <strong>Consulté mes trajets plus ancien réaliser en tant que covoitureur</strong>
                                        <svg viewBox="0 0 256 512" width="12" title="angle-right" class="side-icon" fill="white">
                                            <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
                                        </svg>
                                        <svg viewBox="0 0 320 512" height="24" title="angle-down" class="down-icon" fill="white">
                                            <path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/>
                                        </svg>
                                    </div>
                                    <div class="content">
                                        <div class="col-12 pt-3">
                                        {% if trips|length < 2 %}
                                            <p class="text-center py-2"><i style="color:chocolate;"class="px-2 fas fa-hourglass-end"></i>Aucun autre trajet pour l'instant</p>
                                        {% endif %} 
                                        {% if trips|length > 2 %}
                                            <div class="row">
                                                <div class="col d-flex justify-content-center">Trajet</div>
                                                <div class="col d-flex justify-content-around">Date</div>
                                                <div class="col d-flex justify-content-center">Status</div>
                                                <div class="col d-flex justify-content-center">Détails</div>
                                            </div>
                                        {% endif %}
                                            {% for trip in trips %}
                                                {% if loop.index0 > 2 and trips|length > 0 %}
                                                    <div class="row mt-4 line-trip-profile">
                                                        <div class="col d-flex justify-content-center">{{ trip.departure }}
                                                            ->
                                                            {{ trip.arrival }}</div>
                                                        <div class="col d-flex justify-content-center">{{ trip.dateOfTrip|date("d M") }}</div>
                                                        {% if trip.tripStarted != true and trip.tripCompleted != true %}
                                                            <div class="col d-flex flex-column align-items-center">
                                                                <a href="{{ path ('trip_start', {'id': trip.id}) }}" onclick="return prompt('Voulez vous commencer le trajet ? Taper \'Oui\' pour commencer') == 'Oui'" href="" class="trip-start-button">Commencer</a>
                                                            </div>
                                                        {% elseif trip.tripCompleted == true %}
                                                            <div class="col d-flex flex-column align-items-center">
                                                                <a class="trip-finish-button">Trajet terminé</a>
                                                            </div>
                                                        {% else %}
                                                            <div class="col d-flex flex-column align-items-center">
                                                                <div class="row d-flex ">Trajet en cours</div>
                                                                <a href="{{ path ('trip_finish', {'id': trip.id}) }}" class="btn btn-info">Terminer le trajet</a>
                                                            </div>
                                                        {% endif %}
                                                        <div class="col d-flex  justify-content-center align-items-center">
                                                            <a href="{{ path ('trip_details', {'id': trip.id}) }}" class="btn">
                                                                <i class="far fa-eye"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                </label>
                                <label class="accordion-wrapper">
                                    <input type="checkbox" class="accordion" hidden/>
                                    <div class="title">
                                        <strong>Consulté mes réservations en tant que passager</strong>
                                        <svg viewBox="0 0 256 512" width="12" title="angle-right" class="side-icon" fill="white">
                                            <path d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"/>
                                        </svg>
                                        <svg viewBox="0 0 320 512" height="24" title="angle-down" class="down-icon" fill="white">
                                            <path d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"/>
                                        </svg>
                                    </div>
                                    <div class="content">
                                        <div class="col-12 pt-3">
                                            {% if bookings|length == 0 %}
                                                <p class="text-center py-2"><i style="color:chocolate;"class="px-2 fas fa-hourglass-end"></i>Aucune réservation pour l'instant</p>
                                            {% endif %}
                                            {% if bookings|length >= 1 %}
                                                <div class="row">
                                                    <div class="col d-flex justify-content-center">Trajet</div>
                                                    <div class="col d-flex justify-content-around">Date</div>
                                                    <div class="col d-flex justify-content-center">Status</div>
                                                    <div class="col d-flex justify-content-center">Détails</div>
                                                </div>
                                            {% endif %}
                                            {% for booking in bookings %}
                                            {% if bookings|length >= 1 %}
                                                <div class="row mt-4 line-trip-profile">
                                                    <div class="col d-flex justify-content-center">{{ booking.trip.departure }}
                                                        ->
                                                        {{ booking.trip.arrival }}</div>
                                                    <div class="col d-flex justify-content-center">{{ booking.trip.dateOfTrip|date("d M") }}</div>
                                                    {% if booking.trip.tripStarted != true and booking.trip.tripCompleted != true %}
                                                        <div class="col d-flex flex-column align-items-center">
                                                            <p class="trip-start-button">A venir</p>
                                                        </div>
                                                    {% elseif booking.trip.tripCompleted == true %}
                                                        <div class="col d-flex flex-column align-items-center">
                                                            <a class="trip-finish-button">Trajet terminé</a>
                                                        </div>
                                                    {% else %}
                                                        <div class="col d-flex flex-column align-items-center">
                                                            <div class="row d-flex ">Trajet en cours</div>
                                                        </div>
                                                    {% endif %}
                                                    <div class="col d-flex  justify-content-center align-items-center">
                                                        <a href="{{ path ('trip_details', {'id': booking.trip.id}) }}" class="btn">
                                                            <i class="far fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="tab-pane" id="tabs-6" role="tabpanel">
                        <div class="profile-section section-padding">
                            <div class="row justify-content-center ">
                                <div class="form-info">
                                    <h4 class="text-center">Modifier mon mot de passe</h4>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            {{ include('user/_form-reset.html.twig') }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}