{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Date_of_birth</th>
                <th>Phone</th>
                <th>Adress</th>
                <th>Country</th>
                <th>City</th>
                <th>Bio</th>
                <th>Profile_picture</th>
                <th>Id_card</th>
                <th>Id_card_file</th>
                <th>Created_at</th>
                <th>Profile_completed</th>
                <th>Trips_made</th>
                <th>Global_rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.country }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.bio }}</td>
                <td>{{ user.profile_Picture }}</td>
                <td>{{ user.idCard ? 'Yes' : 'No' }}</td>
                <td>{{ user.id_Card_File }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ user.profileCompleted ? 'Yes' : 'No' }}</td>
                <td>{{ user.tripsMade }}</td>
                <td>{{ user.globalRating }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
