{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    <div class="container">
        <div class="main-info-profile">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <p class="">{{user.firstName}}</p>
                    <p class="experience-profile">{{user.userExperience.experienceLevel}}</p>
                    <p class="experience-profile d-flex flex-column align-items-center justify-content-center"> Trajets effectué</p>
                    <p class="experience-profile d-flex flex-column align-items-center justify-content-center"><strong>{{user.tripsMade}}</strong></p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 d-flex justify-content-center align-items-center flex-column">
                    {% if user.profile_picture != '' %}
                        <div class="existing-file d-flex justify-content-center align-items-center">
                            <a class="d-flex justify-content-center align-items-center" href="{{asset ('/assets/uploads/profilePicture/') ~ user.profile_picture }}" target="_blank"><img class="profile-picture-profile" src="{{asset ('/assets/uploads/profilePicture/') ~ user.profile_picture }}"/></a>
                        </div>
                        {% else %}
                            <div class="existing-file d-flex justify-content-center align-items-center">
                            <a class="d-flex justify-content-center align-items-center" href="{{asset ('/assets/uploads/profilePicture/default_profile_picture.jpg')}}" target="_blank"><img class="profile-picture-profile" src="{{asset ('/assets/uploads/profilePicture/default_profile_picture.jpg')}}"/></a>
                        </div>
                    {% endif %}
                    <p class="mt-4 text-center"><i style="color: gold;"class="fas fa-star"></i>{{user.globalRating ?  user.globalRating|round(1, 'floor') : 'Aucune note pour l\'instant'}}</p>
                </div>
            </div>
        </div>
        <div class="main-info-profile">
            <div class="row">
                <div class="input-profile-apropos">
                    {% if user.bio != '' %}
                        <p>{{user.bio}}</p>
                    {% endif %}
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <a href="{{path('message_discussion_details', {'id': user.id})}}" class="contact-button-profile"><i style="color:#82b6e8;" class="far fa-comments"></i> Contacter {{user.firstName}}</a>
                </div>
            <div class="d-flex justify-content-center"><span class="profile-separator"></div>
        </div>
        <div class="main-info-profile">
            <div class="row">
                <div class="preference-profile-container col-xs-12 col-sm-12 col-md-12">
       
                    <p class="preference-input"><i class="far fa-comments mr-2"></i> {{user.travelPreferences.discussion}}</p>
                    <p class="preference-input"><i class="fas fa-smoking mr-2"></i> {{user.travelPreferences.smoking}}</p>
                    <p class="preference-input"><i class="fas fa-music mr-2"></i> {{user.travelPreferences.music}}</p>
                    <p class="preference-input"><i class="fas fa-paw mr-2"></i> {{user.travelPreferences.animals}}</p>
                    <p class="preference-input"><i class="fas fa-file-medical mr-2"></i> {{user.travelPreferences.healthPass}}</p>
                </div>
                <div class=" col-xs-12 col-sm-12 col-md-12">
                <div class="row  preference-profile-container">
                        <div class="col-xs-12 col-sm-6 col-md-6 d-flex flex-column pl-5 justify-content-center">
                        <p class="vehicule-profile">Marque : {{user.vehicule.brand}}</p>
                        <p class="vehicule-profile">Modèle : {{user.vehicule.model}}</p>
                        <p class="vehicule-profile">Couleur : {{user.vehicule.color}}</p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <a class="d-flex justify-content-center" href="{{asset ('/assets/uploads/vehiculePicture/') ~ user.vehicule.vehiculePicture }}" target="_blank"><img class="profile-picture-profile" src="{{asset ('/assets/uploads/vehiculePicture/' ~ user.vehicule.vehiculePicture )}}"/></a>
                    </div>
                </div>
                

                </div>
            </div>
        </div>
    </div>
{% endblock %}
