{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Date_of_birth</th>
                <td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ user.adress }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ user.bio }}</td>
            </tr>
            <tr>
                <th>Profile_picture</th>
                <td>{{ user.profile_Picture }}</td>
            </tr>
            <tr>
                <th>Id_card</th>
                <td>{{ user.idCard ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Id_card_file</th>
                <td>{{ user.id_Card_File }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Profile_completed</th>
                <td>{{ user.profileCompleted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Trips_made</th>
                <td>{{ user.tripsMade }}</td>
            </tr>
            <tr>
                <th>Global_rating</th>
                <td>{{ user.globalRating }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
